/* nicemark theme for codemirror */
.cm-s-nicemark .cm-header {
  color: #78909c;
}

.cm-s-nicemark .cm-header-1 {
  font-size: 1.7em;
}

.cm-s-nicemark .cm-header-2 {
  font-size: 1.5em;
}

.cm-s-nicemark .cm-header-3 {
  font-size: 1.3em;
}

.cm-s-nicemark .cm-header-4 {
  font-size: 1.2em;
}

.cm-s-nicemark .cm-header-5 {
  font-size: 1.1em;
}

.cm-s-nicemark .cm-header-6 {
  font-size: 1em;
}

.cm-s-nicemark .cm-quote {
  color: #66D9EF;
}

.cm-s-nicemark .cm-keyword {
  color: #FFD180;
}

.cm-s-nicemark .cm-atom {
  color: #CF7EA9;
}

.cm-s-nicemark .cm-number {
  color: #78CF8A;
}

.cm-s-nicemark .cm-def {
  color: #aac6e3;
}

.cm-s-nicemark .cm-variable {
  color: #ffb795;
}

.cm-s-nicemark .cm-variable-2 {
  color: #FFD180;
}

.cm-s-nicemark .cm-variable-3 {
  color: #FFD180;
}

.cm-s-nicemark .cm-property {
  color: #eed1b3;
}

.cm-s-nicemark .cm-operator {
  color: #fa8d6a;
}

.cm-s-nicemark .cm-comment {
  font-size: 14px;
  font-family: 'source-code', "microsoft yahei";
  color: #00E676;
}

.cm-s-nicemark .cm-string {
  color: #CDDC39;
}

.cm-s-nicemark .cm-string-2 {
  color: #9d937c;
}

.cm-s-nicemark .cm-meta {
  color: #D2A8A1;
}

.cm-s-nicemark .cm-qualifier {
  color: yellow;
}

.cm-s-nicemark .cm-builtin {
  color: #9999cc;
}

.cm-s-nicemark .cm-bracket {
	font-family: 'source-code', "microsoft yahei";
  color: #24C2C7;
}

.cm-s-nicemark .cm-tag {
  color: #00b0ff;
}

.cm-s-nicemark .cm-attribute {
  color: #9B859D;
}

.cm-s-nicemark .cm-hr {
  color: #616161;
}

.cm-s-nicemark .cm-link {
  color: #00b0ff;
}

.cm-s-nicemark .cm-url {
  color: #00b0ff;
}

.cm-s-nicemark .cm-special {
  color: #FF9D00;
}

.cm-s-nicemark .cm-error {
  color: #AF2018;
}

.cm-s-nicemark .CodeMirror-matchingbracket {
  color: #0f0;
}

.cm-s-nicemark .CodeMirror-nonmatchingbracket {
  color: #f22;
}

.cm-s-nicemark div.CodeMirror-selected {
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.15);
}

.cm-s-nicemark.CodeMirror-focused div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.10);
}

.cm-s-nicemark .CodeMirror-line::selection,
.cm-s-nicemark .CodeMirror-line > span::selection,
.cm-s-nicemark .CodeMirror-line > span > span::selection {
  background: rgba(255, 255, 255, 0.10);
}

.cm-s-nicemark .CodeMirror-line::-moz-selection,
.cm-s-nicemark .CodeMirror-line > span::-moz-selection,
.cm-s-nicemark .CodeMirror-line > span > span::-moz-selection {
  background: rgba(255, 255, 255, 0.10);
}


/* Editor styling */

.cm-s-nicemark.CodeMirror {
  line-height: 1.6;
  color: #F0F0F0;
  background-color: transparent;
}

.cm-s-nicemark .CodeMirror-gutters {
  background: transparent;
  border-right: 1px solid #4E4E4E;
}

.cm-s-nicemark .CodeMirror-linenumber {
  color: #CCC;
  padding: 0 5px;
}

.cm-s-nicemark .CodeMirror-guttermarker {
  color: #aaa;
}

.cm-s-nicemark .CodeMirror-guttermarker-subtle {
  color: #CCC;
}

.cm-s-nicemark .CodeMirror-cursor {
  border-left: 1px solid #7991E8;
}

.cm-s-nicemark .CodeMirror-activeline-background {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.031);
}

.cm-s-nicemark.CodeMirror,
.cm-s-nicemark .CodeMirror-gutters {
}

.cm-s-nicemark .CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, .04);
}

.cm-s-nicemark .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: #525B63;
}
.cm-s-nicemark .CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #5E6871;
}