#preview {
    line-height: 1.7;
}

#preview h1 {
    margin: 10px 0 24px 0;
}

#preview h2,
#preview h3 {
    margin: 24px 0;
}

#preview h4,
#preview h5,
#preview h6 {
    margin: 20px 0;
}

#preview p {
    margin: 24px 0;
}

#preview li {
    margin: 4px 0;
}

#preview blockquote {
    margin: 24px 0;
    padding: 0 20px;
    border-left: 6px solid #D5DBDE;
}

#preview blockquote p {
    margin: 16px 0;
}

#preview table {
    width: 80%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 16px auto;
}

#preview table thead {
    border-bottom: 2px solid #dddfe6;
}

#preview table tbody tr {
    border-bottom: 1px solid #D8E6E7;
}

#preview table td,
#preview table th {
    text-align: center;
    padding: 8px 0;
}

#preview img {
    max-width: 80%;
    margin: 10px auto;
    display: block;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    cursor: zoom-in;
}

#preview > ol,
#preview > ul {
    margin-top: 24px;
    margin-bottom: 24px;
}

#preview ol,
#preview ul {
    margin-left: 2em;
}

#preview ol li {
    list-style: decimal;
}

#preview > ul > li {
    list-style: disc;
}

#preview > ul > li > ul > li {
    list-style: circle;
}

#preview > ul > li > ul > li > ul li {
    list-style: square;
}

#preview hr {
    border-top: none;
    border-bottom: 1px solid #D8E6E7;
    margin: 16px 0;
}

#preview p code,
#preview li code {
    background-color: #EDF8FB;
    color: #1596D0;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 0 4px;
}

#preview pre {
    margin: 24px 0;
    border-radius: 4px;
    padding: 10px 15px;
}

#preview .sequence-diagrams {
    text-align: center;
}